.advantages__list {
  @include list-reset;
}

.advantages__intro {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}

.advantages__title {
  font-size: 18px;
  line-height: 26px;
}

.advantages__number {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}

.advantages__description {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}

.advantages__city {
  background-color: #81B3D2;
}

.advantages__title--optional {
  color: #FFFFFF;
}

.advantages__number--optional {
  color: #FFFFFF;
}

.advantages__description--optional {
  color: #FFFFFF;
}

.infrastructure__description {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}

.infrastructure__list {
  @include list-reset;
  background-color: #EEEEEE;

}

.advantages__bridge {
  background-color: #81B3D2;
}

