.advantages {
  padding-top: 32px;
  min-width: 320px;

  @media (min-width: $tablet-width) {
    padding-top: 47px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 59px;
  }

  @media (max-width: $mobile-width-only) {
    br {
      display: none;
    }
  }
}

.advantages__header {
  padding-left: 18px;
  padding-right: 18px;
  box-sizing: border-box;
  padding-bottom: 16px;

  @media (min-width: $tablet-width) {
    br {
      display: none;
    }
    padding-left: 124px;
    padding-right: 124px;
    padding-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 357px;
    padding-right: 359px;
    padding-bottom: 44px;
  }
}

.advantages__list {
  @include list-reset;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.advantages__intro {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  margin: 0;
  margin-top: 35px;
}

.advantages__title {
  font-size: 18px;
  line-height: 26px;
  margin: 0;
}

.advantages__number {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  margin-top: 11px;
  display: block;
}

.advantages__description {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  margin: 0;
  margin-top: 17px;
}

.advantages__city {
  background-color: #81b3d2;
  padding-top: 54px;
  padding-bottom: 37px;
  padding-left: 18px;
  padding-right: 18px;
  min-height: 211px;
  min-width: 256px;
  box-sizing: border-box;
  position: relative;

  @media (max-width: $mobile-width-only) {
    &::before {
      content: "";
      position: absolute;
      background-image: url(/img/city-triangle.svg);
      background-repeat: no-repeat;
      width: 100%;
      height: 57px;
      left: 0;
      top: -10px;
      background-position: center;
    }
  }

  @media (min-width: $tablet-width) {
    grid-column: 1/2;
    padding-top: 52px;
    padding-left: 33px;
    padding-right: 33px;
    padding-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 51px;
  }
}

.advantages__bridge {
  background-color: #81b3d2;
  padding-top: 37px;
  padding-bottom: 37px;
  padding-left: 18px;
  padding-right: 18px;
  min-height: 191px;
  min-width: 256px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    grid-column: 3/4;
    grid-row: 1;
    padding-top: 52px;
    padding-left: 33px;
    padding-right: 33px;
    padding-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 51px;
  }
}

.advantages__title--optional {
  color: #ffffff;
}

.advantages__number--optional {
  color: #ffffff;
}

.advantages__description--optional {
  color: #ffffff;
}

.advantages__item--color {
  background-color: #eeeeee;
  padding-left: 26px;
  padding-right: 26px;
  padding-top: 24px;
  padding-bottom: 24px;
  min-height: 165px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    padding-top: 41px;
    padding-left: 33px;
    padding-right: 33px;
    padding-bottom: 63px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    padding-top: 52px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 52px;
  }
}

.advantages__item:nth-child(1) {
  @media (min-width: $tablet-width) {
    grid-column: 1/4;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.advantages__item:nth-child(2) {
  @media (min-width: $tablet-width) {
    grid-column: 1/4;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.advantages__image--city {
  overflow: hidden;
  grid-column: 2/4;

  @media (min-width: $tablet-width) {
  img {
    height: 256px;
  }
}
}

.advantages__image--bridge {
  grid-column: 1/3;

  @media (min-width: $tablet-width) {
    img {
      height: 256px;
    }
  }
}
