.advantages {
  padding-top: 32px;
  min-width: 320px;
}

.advantages__header {
  padding-left: 18px;
  padding-right: 18px;
  box-sizing: border-box;
}

.advantages__list {
  @include list-reset;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.advantages__intro {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}

.advantages__title {
  font-size: 18px;
  line-height: 26px;
  margin: 0;
}

.advantages__number {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}

.advantages__description {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  margin: 0;
}

.advantages__city {
  background-color: #81b3d2;
  padding-top: 37px;
  padding-bottom: 37px;
  padding-left: 18px;
  padding-right: 18px;
  min-height: 211px;
  min-width: 256px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    grid-column: 1/2;
  }
}

.advantages__bridge {
  background-color: #81b3d2;
  padding-top: 37px;
  padding-bottom: 37px;
  padding-left: 18px;
  padding-right: 18px;
  min-height: 191px;
  min-width: 256px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    grid-column: 3/4;
    grid-row: 1;
  }
}

.advantages__title--optional {
  color: #ffffff;
}

.advantages__number--optional {
  color: #ffffff;
}

.advantages__description--optional {
  color: #ffffff;
}

.advantages__item--color {
  background-color: #eeeeee;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 24px;
  padding-bottom: 24px;
  min-height: 165px;
  box-sizing: border-box;
}

.advantages__item:nth-child(1) {
  @media (min-width: $tablet-width) {
    grid-column: 1/4;
    display: grid;
    grid-template-columns: repeat(3,1fr);
  }
}

.advantages__item:nth-child(2) {
  @media (min-width: $tablet-width) {
    grid-column: 1/4;
    display: grid;
    grid-template-columns: repeat(3,1fr);
  }
}

.advantages__image--city {
  overflow: hidden;
  grid-column: 2/4;
}

.advantages__image--bridge {
  grid-column: 1/3;
}
