.catalog-video {
  padding-top: 17px;
  padding-left: 28px;
  padding-right: 20px;

  @media (max-width: $mobile-width-only) {
    br {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    padding-top: 58px;
    padding-bottom: 40px;
    padding-right: 60px;
    padding-left: 60px;

    img {
      min-width: 648px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 62px;
    padding-bottom: 64px;

    img {
      min-width: 800px;
    }
  }

  img {
    width: 100%;
  }
}

.catalog-video__title {
  font-size: 18px;
  line-height: 26px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
  }
}

.catalog-video__description {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  margin: 0;
  margin-top: 39px;
  margin-bottom: 38px;
  margin-left: 7px;
  margin-right: 7px;
  color: #333333;

  @media (min-width: $tablet-width) {
    margin-bottom: 66px;
  }
}


.catalog-video__image {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    background-image: url(/img/video-button.svg);
    width: 48px;
    height: 54px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
