.developed {
  display: flex;
  justify-content: center;
  margin-top: 35px;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    margin-top: 0;
  }
}

.developed__text {
  align-self: center;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: relative;
  text-align: start;
  min-width: 129px;

  &:hover {
    color: rgba(129, 179, 210, 1);

    &::before {
      background-color: #81b3d2;
    }
  }

  &:active {
    color: rgba(179, 179, 179, 1);

    &::before {
      background-color: #b3b3b3;
    }
  }

  &::before {
    content: "";
    position: absolute;
    width: 27px;
    height: 34px;
    mask-image: url("/img/stack.svg#htmlacademy");
    right: 0;
    bottom: -7px;
    background-color: #000000;
  }
}

.developed__link {
  display: contents;
}
