.field-contacts {
  @media (max-width: $mobile-width-only) {
    margin-top: 24px;
    margin-bottom: 34px;
  }
}

.field-contacts__label {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  align-self: self-start;
  margin: 0;
  margin-left: 16px;
}

.field-contacts__wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 16px;

  @media (min-width: $tablet-width) {
    padding-left: 28px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 49px;
  }
}

.field-contacts__input {
  min-width: 280px;
  height: 58px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  padding: 16px 16px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    min-width: 295px;
  }

  @media (min-width: $desktop-width) {
    min-width: 430px;
  }
}

.field-contacts__title {
  @media (min-width: $tablet-width) {
    font-size: 21px;
  }
}
