.field-emotions {
  @media (min-width: $tablet-width) {
    grid-column: 1/3;
    margin-top: 18px;

    &::before {
      content: "";
      position: absolute;
      background-color: #E5E5E5;
      width: 123px;
      height: 1px;
      left: 0px;
      top: -12px;

      @media (min-width: $desktop-width) {
        width: 280px;
      }
    }

    &::after {
      content: "";
      position: absolute;
      background-color: #E5E5E5;
      width: 123px;
      height: 1px;
      right: 0px;
      top: -12px;

      @media (min-width: $desktop-width) {
        width: 280px;
      }
    }
  }

  @media (min-width: $desktop-width) {
    padding-left: 96px;
    padding-right: 96px;
    margin-top: 63px;
  }
}

.field-emotions__description {
  width: 100%;
  min-height: 150px;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: rgba(0, 0, 0, 0.3);
  border: none;
  background-color: #f2f2f2;
  padding: 16px 16px;
  box-sizing: border-box;
  margin-top: 20px;
  color: inherit;

  @media (min-width: $tablet-width) {
    margin-top: 28px;
  }

  &::placeholder {
    color: rgba(0, 0, 0, 0.3);
  }

  &:hover {
    background-color: #E5E5E5;
  }
}

.field-emotions__title {
  @media (min-width: $tablet-width) {
    font-size: 21px;
  }
}
