.field {
  padding-bottom: 39px;

  @media (min-width: $tablet-width) {
    padding-bottom: 63px;
  }
}

.field__label {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  align-self: self-start;
  margin: 0;
  margin-left: 16px;
}

.field__wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}

.field__input {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  padding: 16px 16px;
  min-width: 280px;
  height: 58px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    width: calc(100% - 28px);
  }

  @media (min-width: $desktop-width) {
    width: calc(100% - 49px);
  }
}

.field__title {
  @media (min-width: $tablet-width) {
    font-size: 21px;
  }
}
