.field-sights {
  padding-bottom: 34px;

  @media (min-width: $tablet-width) {
    grid-column: 1/3;

    &::before {
      content: "";
      position: absolute;
      background-color: #e5e5e5;
      width: 123px;
      height: 1px;
      left: 0;
      top: -26px;

      @media (min-width: $desktop-width) {
        width: 280px;
      }
    }

    &::after {
      content: "";
      position: absolute;
      background-color: #e5e5e5;
      width: 123px;
      height: 1px;
      right: 0;
      top: -26px;

      @media (min-width: $desktop-width) {
        width: 280px;
      }
    }
  }

  @media (min-width: $desktop-width) {
    margin-top: 49px;
  }
}

.field-sights__list {
  @include list-reset;
  text-align: start;

  @media (min-width: $tablet-width) {
    display: grid;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.field-sights__title {
  @media (min-width: $tablet-width) {
    font-size: 21px;
  }
}

.field-sights__label {
  text-transform: none;
  padding-left: 62px;
}

.field-sights__item--right {
  @media (min-width: $tablet-width) {
    grid-column: 2/3;
  }
}

.field-sights__item {
  margin-top: 26px;

  &:first-child {
    margin-top: 0;
  }

  &:nth-child(2) {
    @media (min-width: $tablet-width) {
      margin-top: 0;
    }
  }

  &:nth-child(3) {
    @media (min-width: $desktop-width) {
      margin-top: 0;
    }
  }

  &:nth-child(4) {
    @media (min-width: $desktop-width) {
      margin-top: 0;
    }
  }
}

.field-sights__mark {
  position: absolute;
  width: 46px;
  height: 46px;
  border-radius: 4px;
  background-color: #f2f2f2;
  margin-top: -10px;

  &:hover {
    background-color: #e5e5e5;
  }

  &:active {
    background-color: #d5d5d5;
  }
}

.field-sights__input[type="checkbox"]:checked + .field-sights__mark::before,
.field-sights__input[type="checkbox"]:checked + .field-sights__mark::after {
  position: absolute;
  background-image: url(/img/tick.svg);
  width: 22px;
  height: 16px;
  top: 15px;
  left: 15px;
  content: "";
}
