.field-emotions__description {
  width: 279px;
  height: 150px;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  font-family: "PT Sans", sans-serif;
  color: rgba(0, 0, 0, 0.3);
  border: none;
  background-color:#F2F2F2;
  padding: 16px 16px;
}
