.field-impressions {
  padding-bottom: 34px;

  @media (min-width: $tablet-width) {
    grid-column: 1/3;
    margin-top: 39px;

    &::before {
      content: "";
      position: absolute;
      background-color: #e5e5e5;
      width: 123px;
      height: 1px;
      left: 0;
      top: -12px;

      @media (min-width: $desktop-width) {
        width: 280px;
      }
    }

    &::after {
      content: "";
      position: absolute;
      background-color: #e5e5e5;
      width: 123px;
      height: 1px;
      right: 0;
      top: -12px;

      @media (min-width: $desktop-width) {
        width: 280px;
      }
    }
  }

  @media (min-width: $desktop-width) {
    margin-top: 47px;
  }
}


.field-impressions__list {
  @include list-reset;
  text-align: start;

  @media (min-width: $tablet-width) {
    display: grid;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.field-impressions__mark {
  position: absolute;
  width: 46px;
  height: 46px;
  border-radius: 50px;
  background-color: #f2f2f2;
  margin-top: -10px;

  &:hover {
    background-color: #e5e5e5;
  }

  &:active {
    background-color: #d5d5d5;
  }
}

.field-impressions__label {
  text-transform: none;
  padding-left: 62px;
}

.field-impressions__title {
  @media (min-width: $tablet-width) {
    font-size: 21px;
  }
}

.field-impressions__item--right {
  @media (min-width: $tablet-width) {
    grid-column: 2/3;
  }
}

.field-impressions__item {
  margin-top: 36px;

  &:first-child {
    margin-top: 0;
  }

  &:nth-child(2) {
    @media (min-width: $tablet-width) {
      margin-top: 0;
    }
  }

  &:nth-child(3) {
    @media (min-width: $desktop-width) {
      margin-top: 0;
    }
  }
}

.field-impressions__input[type="radio"]:checked + .field-impressions__mark::before,
.field-impressions__input[type="radio"]:checked + .field-impressions__mark::after {
  position: absolute;
  background-image: url("/img/icon-radio.svg");
  width: 16px;
  height: 16px;
  top: 15px;
  left: 15px;
  content: "";
}
