.field-contacts {
  position: relative;

  @media (max-width: $mobile-width-only) {
    &::before {
      content: "";
      position: absolute;
      background-color: #e5e5e5;
      width: 115%;
      height: 1px;
      left: -20px;
      bottom: 0;
      background-position: center;
    }
  }
}

.field-contacts__label {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  align-self: self-start;
  margin: 0;
  margin-left: 16px;
  color: #333333;
}

.field-contacts__wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 16px;

  &:first-of-type {
    margin-top: 0;
    margin-top: 20px;

    @media (min-width: $tablet-width) {
      margin-top: 28px;
    }
  }

  @media (min-width: $tablet-width) {
    padding-left: 28px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 49px;
  }
}

.field-contacts__wrapper--phone {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 58px;
    height: 58px;
    right: 0;
    bottom: 0;
    background-image: url(/img/phone.svg);
    background-color: rgba(230, 230, 230, 1);
    background-repeat: no-repeat;
    background-position: center;
  }
}

.field-contacts__wrapper--e-mail {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 58px;
    height: 58px;
    right: 0;
    bottom: 0;
    background-image: url(/img/mail.svg);
    background-color: rgba(230, 230, 230, 1);
    background-repeat: no-repeat;
    background-position: center;
  }
}

.field-contacts__input {
  min-width: 280px;
  height: 58px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  padding: 16px 16px;
  box-sizing: border-box;
  border: none;
  background-color: #f2f2f2;

  @media (min-width: $tablet-width) {
    min-width: 295px;
  }

  @media (min-width: $desktop-width) {
    min-width: 430px;
  }
}

.field-contacts__title {
  @media (min-width: $tablet-width) {
    font-size: 21px;
  }
}
