.infrastructure__description {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}

.infrastructure__list {
  @include list-reset;
  min-width: 320px;

  @media (min-width: $tablet-width) {
    grid-column: 1/4;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.infrastructure__item {
  padding-top: 33px;
  text-align: start;
  padding-left: 65px;
  padding-right: 18px;
}

.infrastructure__item:last-child {
  padding-bottom: 46px;
}
