.intro {
  background-image: url("/img/photo-mountains.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #82b3d3;
  background-position: center;
  min-width: 320px;
  height: 389px;
  box-sizing: border-box;
  padding-top: 90px;

  @media (min-width: $tablet-width) {
    padding-top: 77px;

  }
}

