.main-footer {
  padding-top: 33px;
  padding-bottom: 33px;
  padding-left: 18px;
  padding-right: 18px;
  width: 320px;
  box-sizing: border-box;
}

.developed__text {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.main-footer__link {
  text-decoration: none;
  color: inherit;
}
