@media (max-width: $mobile-width-only) {
  .page-nav {
    position: relative;
  }
}

@media (max-width: $mobile-width-only) {
  .page-nav::before {
    content: "";
    position: absolute;
    background-image: url(/img/icon-menu.svg);
    width: 22px;
    height: 22px;
    top: 17px;
    right: 20px;
  }
}


.page-nav__wrapper {
  width: 100%;
  min-height: 56px;
  z-index: 2;

  @media (max-width: $mobile-width-only) {
    background-color: #81b3d2;
    position: absolute;
  }
}

.page-nav__link {
  text-decoration: none;
  color: #ffffff;

  @media (min-width: $tablet-width) {
    color: #000000;
  }

  &:hover {
    @media (min-width: $tablet-width) {
      color: #81b3d2;
    }
  }

  &:active {
    color: rgb(0, 0, 0, 0.3);
  }
}

.page-nav__link--current {
  @media (min-width: $tablet-width) {
    color: #766357;
  }
}

.page-nav__list {
  @include list-reset;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-flow: dense;
    background-color: #ffffff;
    min-height: 56px;
    align-items: center;
  }

  &::before {
    content: "";
    grid-column: 3/4;
    grid-row: span 2;
  }
}

.page-nav--closed {
  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

@media (max-width: $mobile-width-only) {
  .page-nav--opened::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 7px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
  }
}

.page-nav--opened::after {
  @media (max-width: $mobile-width-only) {
    content: "";
    position: absolute;
    background-image: url(/img/icon-cross.svg);
    width: 22px;
    height: 22px;
    top: 17px;
    right: 20px;
  }
}

.page-nav--nojs .page-nav--closed {
  display: none;
}

