.pictures-catalog {
  @include list-reset;
  padding-left: 20px;
  padding-right: 20px;
  text-align: start;
  padding-top: 24px;
  padding-bottom: 25px;


  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(3, 1fr);
    padding-left: 0px;
    padding-right: 0px;
  }
}

.pictures-catalog__title {
  font-size: 14px;
  line-height: 21px;
  margin: 0;
  margin-top: 15px;

  @media (min-width: $tablet-width) {
    margin-top: 22px;
    margin-left: 20px;
  }
}

.pictures-catalog__description {
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  font-weight: 400;
  text-transform: none;
  margin-top: 12px;

  @media (min-width: $tablet-width) {
    margin-left: 20px;
  }
}

.pictures-catalog__number {
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}

.pictures-catalog__item span {
  display: block;
}
