.pictures-catalog__title {
  font-size: 14px;
  line-height: 21px;
}

.pictures-catalog__description {
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}

.pictures-catalog__number {
  font-size: 14px;
  line-height: 21px;
  color:#333333;
}
