.search {
  padding-top: 38px;
  padding-bottom: 32px;
  padding-left: 29px;
  padding-right: 29px;
  min-width: 320px;
  box-sizing: border-box;
}

.search__title {
  font-size: 21px;
}

.search__description {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}

