.social {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  max-width: 280px;
  flex-wrap: wrap;
  margin-top: 24px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
  }
}

.social__item {
  margin-left: 3px;
  margin-right: 3px;
  margin-top: 6px;
  width: 48px;
  height: 48px;

  @media (min-width: $tablet-width) {
    margin-top: 3px;
    margin-bottom: 3px;
  }
}
