body {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  background-color: #FFFFFF;
  min-width: 320px;
  text-align: center;
  text-transform: uppercase;
  color:#000000;
}

.button {
  background-color: #81B3D2;
  color: #FFFFFF;
  border: none;
  padding: 16px 49px 16px 49px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.title {
  font-size: 18px;
  line-height: 26px;
  margin: 0;
}
