body {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  background-color: #FFFFFF;
  min-width: 320px;
  text-align: center;
  text-transform: uppercase;
  color:#000000;
  margin: 0;
}

body img {
  display: block;
  margin: 0 auto;
}
